
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    
  }
  
  header {
    background-color: rgb(49, 46, 63);
    color: #f8f8f8;
    padding: 20px;
    display: block;
  
    
  }


a:active,a:hover {
    outline-width: 0;
    color: #e91e63;
    
}

button {
    overflow: visible;
    text-transform: none;
    font: inherit;
    margin: 0;
    
}

.w3-btn,.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-dropdown-hover:hover .w3-dropdown-content {
    display: block;
}

.w3-dropdown-content {
    cursor: auto;
    color: #ffffff;
    background-color: rgb(75, 72, 88);
    display: none;
    position: absolute;
    min-width: 30px;
    margin: 5;
    padding: 0;
  
}

.w3-bar {
    width: 100%;
    overflow: hidden;
}

.w3-center .w3-bar {
    display: inline-block;
    width: auto;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
   
}

.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click {
    position: static;
    float: left;
}

.w3-bar-block .w3-bar-item {
    width: 100%;
    display: block;
    padding: 10px 10px;
    text-align: center;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

  .container{
	max-width: 1170px;
	margin:auto;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	text-align: left;
    width: 2399px;
    background-color: rgb(49, 46, 63);
    color: white;
    position: absolute;
    bottom: 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: rgb(49, 46, 63);
    color: white;
    padding: 14px 20px;
   
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: rgb(84, 74, 128);
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  